{% style %}
  .logo-disco-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }

  .logo-disco-text {
    color: #fff;
    font-family: Inter;
    font-size: {{ font_size }}px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }

  .logo-disco-svg {
    margin-left: 10px;
    width: {{ logo_size }}px;
    height: auto;
  }
{% endstyle %}
<a href="" class="logo-disco-container">
  <span class="logo-disco-text">Feito com 💜 pela</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="68" height="16" viewBox="0 0 68 16" fill="none" class="logo-disco-svg">
    <rect width="67.6919" height="16" fill="transparent"/>
    <path d="M0 0H5.3333C7.45501 0 9.48983 0.842849 10.9901 2.34313C12.4904 3.84341 13.3332 5.87823 13.3332 7.99995C13.3332 10.1217 12.4904 12.1565 10.9901 13.6568C9.48983 15.157 7.45501 15.9999 5.3333 15.9999H0V0Z" fill="#582DDD"/>
    <path d="M53.1191 0C51.6521 1.07538 50.5023 2.50044 49.791 4.1377C48.9899 5.98178 48.7801 8.01107 49.1885 9.96875C49.5968 11.9263 50.6049 13.7244 52.085 15.1357C52.4107 15.4464 52.7576 15.7343 53.1201 16H45.5391C43.4174 16 41.3821 15.1575 39.8818 13.6572C38.3816 12.157 37.5391 10.1217 37.5391 8C37.5391 5.87828 38.3816 3.84305 39.8818 2.34277C41.3821 0.842493 43.4173 0 45.5391 0H53.1191Z" fill="#582DDD"/>
    <path d="M14.9336 0H21.6002V15.9999H14.9336V0Z" fill="#582DDD"/>
    <path d="M36.5325 0H28.5325C27.118 0 25.7615 0.561899 24.7613 1.56209C23.7611 2.56227 23.1992 3.91882 23.1992 5.3333C23.1992 6.74778 23.7611 8.10432 24.7613 9.10451C25.7615 10.1047 27.118 10.6666 28.5325 10.6666L36.5325 0Z" fill="#582DDD"/>
    <path d="M31.1992 5.3335C32.6136 5.3335 33.9702 5.8954 34.9704 6.89558C35.9706 7.89577 36.5325 9.25232 36.5325 10.6668C36.5325 12.0813 35.9706 13.4378 34.9704 14.438C33.9702 15.4382 32.6136 16.0001 31.1992 16.0001H23.1992L31.1992 5.3335Z" fill="#582DDD"/>
    <path d="M67.6913 7.99995C67.6913 9.58219 67.2221 11.1289 66.3431 12.4445C65.464 13.7601 64.2146 14.7854 62.7528 15.3909C61.291 15.9964 59.6825 16.1549 58.1306 15.8462C56.5788 15.5375 55.1534 14.7756 54.0345 13.6568C52.9157 12.5379 52.1538 11.1125 51.8451 9.56066C51.5364 8.00882 51.6949 6.4003 52.3004 4.9385C52.9059 3.4767 53.9312 2.22728 55.2468 1.34823C56.5624 0.469189 58.1091 0 59.6914 0C61.8131 0 63.8479 0.842849 65.3482 2.34313C66.8484 3.84341 67.6913 5.87823 67.6913 7.99995Z" fill="#582DDD"/>
  </svg>
</a>
